[mysqld]
user = mysql
socket = /var/run/mysqld/mysqld.sock
port = 3306
basedir = /usr
datadir = /var/lib/mysql

# Performance optimizer
key_buffer_size = 16M
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8
query_cache_limit = 1M
query_cache_size = 16M
innodb_buffer_pool_size = 128M

# Connession
bind-address = 0.0.0.0

#Error
log_error=/var/log/mysql/error.log

character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci